<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<button th:onclick="|location.href='@{/board/new}'|">new</button>

<table class="table table-hover">
    <tr>
        <th class="col-md-1">작성자</th>
        <th class="col-md-2">제목</th>
        <th class="col-md-2">작성시간</th>
    </tr>
    <tr th:each="board : ${boards}">
        <td th:text="${board.writer}"></td>
        <td><a th:text="${board.title}" th:href="@{/board/{id}(id=${board.id})}"></a></td>
        <td th:text="${board.createTime}"></td>
    </tr>
</table>

<div th:if="${boards.totalPages > 0}" class="pagination" th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/board/pagingList(size=${boards.size}, page=${pageNumber})}" th:text="${pageNumber}"
       th:class="${pageNumber==boards.number + 1} ? active" style="display: flex"></a>
</div>
</body>
</html>